 .jumbotron{
     background-color:Black;
     color: White;
     margin-top: 20px

 }
/* .btn{
    background-color: red
 }
*/
 .footer
 {
     padding: 10px 1px 0 10px;
     background-color: chocolate;
     margin-bottom: 0px;
     margin-top: 10px;
 }

 .card-store
 {
     flex:1 200px;
     margin-top: 10px;
 }

 .btn-store
 {
     width: 100%;
     border-radius: 0px;
     
}
.footer-address-icon
{
    padding-right: 10px;
}