@yellow:#131524;

.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron{
    background-color:@yellow;
    color: White;
    .margenes(50px, 0px);

}
/* .btn{
   background-color: red
}
*/
.footer
{
    padding: 10px 1px 0 10px;
    background-color: chocolate;
    .margenes(10px, 0px);

.card-store
{
    flex:1 200px;
    .margenes(10px, 0px);
}

.btn-store
{
    width: 100%;
    border-radius: 0px;
    
}
.footer-address-icon
{
   padding-right: 10px;
}
}