.jumbotron {
  background-color: #131524;
  color: White;
  margin-top: 50px;
  margin-bottom: 0px;
}
/* .btn{
   background-color: red
}
*/
.footer {
  padding: 10px 1px 0 10px;
  background-color: chocolate;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer .card-store {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer .btn-store {
  width: 100%;
  border-radius: 0px;
}
.footer .footer-address-icon {
  padding-right: 10px;
}
